#dropdownMenuLink{
    background: transparent !important;
    color:grey;
    border: none;
    margin-top:2px;
            
            
}
    
.navbar{
    color:white;
    
}

.navbar li{
    color: white;
    margin-right:40px; 
}

.bod{
    /*Styling for 4 main panels*/
}

#row1,#row2{
    padding:0px 150px !important;
    height: 50vh;
}
.custom-hr{
    border-bottom: 3px solid black;
    width:15%;
}

.icons {
  padding: 30px;
  padding-left: 50px;
  font-size: 30px;
}

#main{
    height: 100%;
    width:100%;
    padding: 0px !important;
}
#sub-text{
    margin: 30px 0px;
    font-size: 30px;
}

#social-media {
  margin-top: 50px;
  font-size: 30px;
}

#card-outer-align{
    padding:0px 40px;
}

#topright {
  background-color: #6FAEEB;
}

#topleft {
  background-image: url(kitchen.jpg);
}

#bottomright {
  background-image: url(electronics.jpg);
}

#bottomleft {
  background-color: #ECE409
}

.center-in{
    position: absolute;
    top:30%;
    width: 100% !important;
    bottom:30%;
}
.font1{
    font-size:200%;
    font-weight: 600;
    line-height: 30px;
}

.font2{
    font-size:120%;
    font-weight: 500;
    line-height: 50px;
}

 #carouselExampleControls
{

    height:100%;
}
#carouselExampleControls img{
    height:70%;
    width:100%;
}

#registration-form {
  display: none;
  margin: auto;
  width: 50%;
  padding-top: 50px;
}

#signin-form {
  padding-top: 50px;
}

form {
  width: 100%;
} 

#register-button {
  text-decoration: underline;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}